<% layout('layouts/boilerplate') %>
<body>
    <h3>Add New Plot</h3>
    <form method="POST" action="/listing">
        <input name="new[title]" type="text" placeholder="Enter Type">
        <br> <br>
        <textarea name="new[description]" type="text" placeholder="Enter Description"></textarea>
        <br> <br>
        <input name="new[image]" type="text" placeholder="Enter URL">
        <br> <br>
        <input name="new[price]" type="number" placeholder="Enter Type">
        <br> <br>
        <input name="new[country]" type="text" placeholder="Enter Country">
        <br> <br>
        <input name="new[location]" type="text" placeholder="Enter Location">
        <br> <br>
        <button>ADD</button>
    </form>
</body>
