body {
    font-family: jakarta, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

}


.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.container {
    flex: 1;
}

/* navbar style */
.navbar {
    height: 4rem;
    background-color: white;
    z-index: 10;
}

/* footer styling */
.f-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: thin black;
    background-color: #ebebeb;

}

.f-info-name p {
    margin: 0;
}

.f-info-icons i {
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1.3rem;
}

.f-info-icons {
    margin-top: 0.3rem;
}

.f-info-links a {
    text-decoration: none;
    color: gray;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.f-info-links a:hover {
    color: black;
    text-decoration: underline;
}

/* listing card styling */

.card-contaner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.card {
    margin: 0.75rem !important;
    height: 25rem !important;
    border: none !important;
}

.card-img-top {
    height: 15rem !important;
    border-radius: 1rem !important;
}

.show-tag {
    text-decoration: none;
}

@media (max-width: 993px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 508px) {
    html {
        font-size: 12px;
    }
    .img-div{
        width:70% !important;
    }

}

.card-list:hover {
    opacity: 0.7;
    background-color: white;
}

/* add page btn */
.btn {
    margin: 0.5rem 0 0.5rem 0 !important;
    border: none !important;
}

/* edit page btn */
.change-btn {
    background-color: black !important;
}

/* show route css*/
@media (min-width:750px){
    .show-card {
    height: auto !important;
    width: 100% !important;
}
}

@media (max-width:750px){
    .show-card {
    height: auto !important;
    width: 100% !important;
}
}


.show-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.card-body {
    padding: 0.5rem 0 0 0rem !important;
}

.btn-div {
    display: flex;
    width: 20rem;
    justify-content: space-evenly;
    margin-top: 1rem !important;
    margin-right: 2.2rem !important;
}

.show-card img {
    width: 100% !important;
    height: 18rem !important;
}

.img-div {
    display: flex;
    justify-content: center;
}

.description {
    height: 5.5rem;
    overflow: auto;
}

.alert {
    height: 14vh;
}

.reviwes-div {
    height: 20rem;
    margin-bottom: 5rem;
}

.btn-outline-primary {
    border: 1px solid blue !important;
}

/* reviews styling */
.show-reviews-contaner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content:space-between;
}

.show-reviews {
    width: 48% !important;
    border: 0.1px solid rgb(194, 191, 191);
    border-radius: 1rem;
    margin: 1.5rem 0 1.5rem 0 !important;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

@media (max-width:750px) {
    .img-div{
        width:100% !important;
        margin:auto;
    }
}

.rating {
    position: relative;
    top: 0%;
    left: 0%;
    margin: 0.15rem 0 0.15rem 0 !important;
}

.comment {
    max-height: 4rem;
    overflow: auto;
    margin: 0.15rem 0 0.15rem 0 !important;
}

.date {
    display: flex;
    flex-direction: row-reverse;
    font-size: 0.6rem;
    padding-right: 0.5rem;
}

.review-del{
    margin:0rem !important;
    margin: 0.15rem 0 0.15rem 0 !important;
}


.align{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 4.1rem;
}

.signup-login{
    margin: 0px !important;
}